<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="appConfiguration" type="FilePusher.Config.AppConfiguration, FilePusher"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appConfiguration filePath="C:\Users\Quinntyne\Documents\test.txt" projectFolderPath="C:\Users\Quinntyne\Documents\">
  </appConfiguration>
</configuration>